header{
    box-shadow: 0px 2px 4px rgb(185, 185, 185);
}

header img{
    height: 30px;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 7vw;
}
.logo img{
    height: 5vh;
}